<% content_for :title, "Invoice" %>

<div class="space-y-4">
  <div class="app-card">
    <%= render @invoice %>
  </div>

  <div class="flex flex-wrap gap-2">
    <%= link_to "Edit", edit_invoice_path(@invoice), class: "btn btn-primary" %>
    <%= link_to "Back", invoices_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy", @invoice, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
