<% content_for :title, "New user" %>

<div class="page-header">
  <h1 class="page-title">New user</h1>
  <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
</div>

<div class="app-card">
  <%= render "form", user: @user %>
</div>
