<% if notice.present? %>
  <p data-controller="flash" class="rounded-xl border border-[#8BA88E]/20 bg-[#8BA88E]/10 px-4 py-2 text-sm text-[#334d38]"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p data-controller="flash" class="rounded-xl border border-red-200 bg-red-50 px-4 py-2 text-sm text-red-900"><%= alert %></p>
<% end %>
