<% content_for :title, "Treatment Record" %>

<div class="space-y-4">
  <div class="app-card">
    <%= render @treatment_record %>
  </div>

  <div class="flex flex-wrap gap-2">
    <%= link_to "Edit", edit_treatment_record_path(@treatment_record), class: "btn btn-primary" %>
    <%= link_to "Back", treatment_records_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy", @treatment_record, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
