<% content_for :title, "Appointment" %>

<div class="app-card">
  <%= render @appointment %>

  <div class="mt-6 flex flex-wrap gap-2">
    <%= link_to "Edit this appointment", edit_appointment_path(@appointment), class: "btn btn-primary" %>
    <%= link_to "Back to appointments", appointments_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this appointment", @appointment, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
