<% content_for :title, "Appointment" %>

<div class="space-y-4">
  <div class="app-card">
    <%= render @appointment %>
  </div>

  <div class="flex flex-wrap gap-2">
    <% if can_access_feature?(:appointments, :update) %>
      <%= link_to "Edit", edit_appointment_path(@appointment), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back", appointments_path, class: "btn btn-secondary" %>
    <% if can_access_feature?(:appointments, :destroy) %>
      <%= button_to "Destroy", @appointment, method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
